@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&family=Roboto&display=swap');


/* Include the padding and border in an element's total width and height */
* {
    box-sizing: border-box;
  }

  body {
    font-family: 'Lato', sans-serif;
}
  
  .container {
      margin: 40px auto;
      max-width: 1200px;
  }

  /* Style the header */
  .header {
    background-color: #b5c6df;
    padding: 30px 40px;
    color: white;
    text-align: center;
  }
  
  /* Clear floats after the header */
  .header:after {
    content: "";
    display: table;
    clear: both;
  }

    /* Styles the image */
  .image {
    width: 10em;
    height: 5.5em;
  }

  